<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flug Basar AGB</title>
     <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 <header>
    <a href="{{ url_for('index') }}" class="homeButton"> <h1>✈ Flug Basar</h1></a>
  </header>
<div class="center">
<h1>Allgemeine Geschäftsbedingungen (AGB)</h1>
<br>
1) Mit der Nutzung dieser Webseite sind sie einverstanden, dass sämtliche Daten gespeichert und an den höchstbietenen verkauft werden.
<br><br>
2) Für Flugzeugabstürze übernehmen wir keine Haftung!
<br><br>
3) Es ist ausdrücklich verboten auf dieser Webseite Flugzeuge zu kaufen, wenn sie noch nicht 21.5 Jahre alt sind.
<br><br>
4) Spendieren Sie einem über diese Webseite gebuchten Piloten KEINEN Drink vor dem Flug.
<br><br>
5) Sie bekommen von uns KEINEN Kerosinrabatt.
<br><br>
6) Für Zufriedene Kundenberater spendieren Sie ein kleines Trinkgeld an unser BTC Wallet: "1Lbcfr7sAHTD9CgdQo3HTMTkV8LK4ZnX71". Da wir das Trinkgeld natürlich bei der Steuer angeben, können wir dennoch keine Quittungen ausstellen.
<br><br>
7) Für angezeigte Sehenswürdigkeiten übernehmen wir keine HAFTUNG!
<br><br>
8) Für Bisse des Hundes im Hinterhof des Anbieters übernehmen wir KEINE HAFTUNG! Spielen auf eigene Gefahr.
<br><br>
9) Wir behalten uns das Recht vor, diese AGB jederzeit zu ändern.
<br><br>
10) Für das angezeigte Wetter übernehmen wir KEINE HAFTUNG!
</div>
{% include "footer.html" %}

</body>
</html>