<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Flug Basar{% endblock %}</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  {% block head %}{% endblock %}
</head>

<body data-geoapify-key="{{ geoapify_key|default('') }}">
  <header>
    <a href="{{ url_for('index') }}" class="homeButton"> <h1>✈ Flug Basar</h1></a>
  </header>

  {% block content %}{% endblock %}

  {% block scripts %}{% endblock %}
    {% include "footer.html" %}

</body>
</html>
