<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Flug Basar{% endblock %}</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" defer></script>
</head>

<body>
  <header>
    <a href="{{ url_for('index') }}" class="homeButton"> <h1>✈ Flug Basar</h1></a>
  </header>

  <main class="layout">
    {% block content %}{% endblock %}
  </main>

  {% include "footer.html" %}

  {% block scripts %}{% endblock %}


  <!-- Scripts genau 1x laden -->
  <script src="{{ url_for('static', filename='js/util.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/servertime.js') }}" defer></script>
</body>
</html>
