<footer>
    <div class="container">
        <p>&copy; 2024 Flight Basar. All rights reserved.</p>
        <nav>
            <a href="{{ url_for('index') }}">Home</a> |
            <a href="{{ url_for('get_kontakt') }}">Kontakt</a> |
            <a href="{{ url_for('get_agb') }}">AGB</a> |
            <a href="{{ url_for('get_help') }}">Hilfe</a>
            <div class="devbox">
                <span>Serverzeit:</span>
                <span id="server-time" class="mono server-time-clickable">—</span>
          </div>
        </nav>
    </div>
</footer>