<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flug Basar Hilfe</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
    <body>
     <header>
        <a href="{{ url_for('index') }}" class="homeButton"> <h1>✈ Flug Basar</h1></a>
     </header>
        <div class="center">
            <h1>Help</h1>
            <i>"Gib einem Mann einen Fisch und du ernährst ihn für einen Tag. Lehre einen Mann zu fischen und du ernährst ihn für sein Leben."</i> - Konfuzius
            <br><br>
            Daher praktizieren wir Hilfe zur Selbsthilfe.
            <br><br>
            Folgen Sie den Schritten zur Problemlösung:
            <br>
            <br>
            1.)
            <br><br>
             <a href="https://chat.openai.com" target="_blank" class="secondary">
                <button>Schritt 1</button>
            </a>
            <br><br>
            2.)
            <br><br>
            <a href="{{ url_for('get_kontakt') }}" class="secondary">
                <button>Schritt 2</button>
            </a>
            <br><br>
            3.)
            <br><br>
            Gehen Sie in die Kantine und holen Sie sich einen Kaffee.
            <br><br>
            4.)
            <br><br>
            Wenn bis jetzt noch nichts geholfen hat, dann opfern Sie bitte dem IT Gott.
        </div>
    {% include "footer.html" %}
    </body>
</html>