{% extends "base.html" %}

{% block title %}Flug Basar{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock %}
</head>
<body>
  <header>
     <a href="{{ url_for('index') }}">Home</a>
    <div class="header-actions">
      <button class="secondary">Route speichern</button>
      <button class="secondary">Gespeicherte Routen</button>
    </div>
  </header>

    <main>
        <div class="infos">
              {% block content %}
              {% include "partials/flight_search.html" %}
              {% include "partials/weather.html" %}
              {% include "partials/places.html" %}
              {% endblock %}
        </div>
    </main>

  {% block scripts %}
    <script>
      window.APP_CONFIG = {
        cities: {{ cities|tojson }},
        defaultCity: "Zürich"
      };
    </script>
  {% endblock %}
<!--    <script src="{{ url_for('static', filename='js/util.js') }}"></script>-->
<!--    <script src="{{ url_for('static', filename='app.js') }}"></script>-->

</body>
</html>
